circle.zoom {
    stroke: black;
    stroke-width: 1;
    fill: grey;
    fill-opacity: 0.3;
}
path.zoom {
    stroke: black;
    stroke-width: 1.5;
}
circle.zoom:hover {
    stroke: white;
}
polygon.move {
    stroke: black;
    stroke-width: 1;
    fill: grey;
    fill-opacity: 0.3;
}
polygon.move:hover {
    stroke: white;
}
